@model Alumno

@{
    ViewData["Title"] = "Información del Alumno";
    Layout = "Simple";
}

<h1>@ViewData["Title"] </h1>
<p>
    Nombre: <@Model.Nombre
    Id: @Model.Id

</p>

<strong>Desde la vista parcial</strong>
<partial name="EscuelaBaseSimple"></partial>
<p><i>@ViewBag.Fecha</i></p>