@model Curso

@{
    ViewData["Title"] = "Actualización del Curso";
    Layout = "Simple";
}

<h1>@ViewData["Title"] </h1>
<p><i>@ViewBag.MensajeExra</i></p>
<div asp-validation-summary="All"></div>


<form method="post">
    <div>
        <label asp-for="Id"></label>
        <input asp-for="Id">
        @*<label asp-for="Nombre"></label>
        <input asp-for="Nombre">*@
        
    </div>
  
    <input type="submit" value="Borrar">
    
</form>


<p><i>@ViewBag.Fecha</i></p>